header {
   height: 78px;
   background-color: #fff;
   padding: 5px 100px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav li {
   display: inline-block;
   padding: 28px 16px 30px;
   position: relative;
}

.navList {
   list-style: none;
}

nav li a {
   font-weight: 400;
   font-size: 16px;
   text-transform: uppercase;
   color: #1d1f22;
}

nav ul li.active a {
   font-weight: 600;
   color: #5ece7b !important;
}

nav li.active ::before {
   content: '';
   position: absolute;
   height: 2px;
   width: 100%;
   bottom: 0px;
   right: 0px;
   background: #5ece7b;
}

.rghtSection {
   display: flex;
   gap: 22px;
}
