*,
::after,
::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Raleway', sans-serif;
   background: #fff;
   color: #1d1f22;
   font-size: 16px;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

main {
   overflow: auto;
}

@media screen and (max-width: 1024px) {
   main {
      padding: 80px 35px !important;
   }
   header {
      padding: 5px 35px !important;
   }
}

main.scrollLock {
   overflow: hidden;
   height: calc(100vh - 78px);
}

/*
===============
Loading Components
===============
*/
@keyframes placeHolderShimmer {
   0% {
      background-position: -468px 0;
   }
   100% {
      background-position: 468px 0;
   }
}

.text-line,
.loading-img {
   animation-duration: 1.25s;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
   animation-name: placeHolderShimmer;
   animation-timing-function: linear;
   background: #f6f6f6;
   background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
   background-size: 800px 104px;
   position: relative;
}

.text-line {
   margin-top: 2px;
   height: 14px;
   width: 100%;
}
